
      <mat-card class="card">
        <mat-card-content class="custom-card">

          <mat-card-title class="title">JONATHAN ALEXANDER DE LA CRUZ REYES     </mat-card-title>

          <mat-card-content class="content">Estudiante de ingenieria en sistemas, de la universidad mariano galvez
            3 año de la carrera, 5 ciclo cursando actualmente.
          </mat-card-content>

          <mat-card-content class="content">Durante los cursos de programacion que he estado estudiando el lenguaje de programacion c++
            en programacion I y II, en este año el curso de programacion III es estudion java utilizando 
          springboot y angular </mat-card-content>

          <mat-card-content class="content">Adicional he aprendido muchos temas interesantes durante la carrera, desde el lado tecnologico 
            con electronica, programacion, metodos e introduccion a sistemas, el lado matematico con fisica, calculo y
            estadistica, y diferentes temas que se pueden desarrollar para un mejor conocimiento general como emprendedores,
            desarrollo humano, contabilidad, derecho informativo y mas.
          </mat-card-content>

          <mat-card-content class="content">Como proyecto mas importante y más completo fue una calculadora creada en c++ como proyecto final de progra II.</mat-card-content>

          <mat-card-content class="content">Mi objetivo a corto plazo es tener un buen manejo en la lógica y base de la programación ayudándome con estudios
             propios en diferentes páginas y videos de YouTube y con cursos enfocados en el lenguaje que deseo desarrollar al máximo </mat-card-content>

          <mat-card-content class="content">Actualmente trabajo en banco industrial como gestor cobrador, en zona 9, con un horario realmente bueno, pero con la negativa
             de estar un poco lejos de dónde vivo, sumado al trafico el tiempo que tengo de estudio es realmente poco y no me ayuda a poder
              estudiar todo lo que deseo pero con planes en el futuro de poder tener un cambio de horario y poder tener más tiempo para el
               estudio tanto en la universidad como estudio propio.</mat-card-content>
          
        </mat-card-content>
      </mat-card>
