<body>
  
<div class="center-container">
  <mat-card>
    <mat-card-content class="custom-card">
      <mat-card class="perf">
        <mat-card-content>
          <a routerLink="/perfil" mat-flat-button class="bp" color="accent">PERFIL</a>
        </mat-card-content>
      </mat-card>
      <mat-card class="hoj">
        <mat-card-content>
          <a routerLink="/hdv" mat-flat-button class="bh" color="warn">HOJA DE VIDA</a>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>

</body>

<router-outlet></router-outlet>


