
<mat-card >
  <mat-card-content class="custom-card">


<mat-list>
    <p>Nombre: Jonathan Alexander De La Cruz Reyes </p>
    <p>Edad: 20</p>
    <p>Nacimiento: 15/07/2003    </p>
    <p>Nacionalidad: Guatemala</p>
    <p>Genero: Masculino</p>
    <p>Estudios: Universidad (3 año) Ingeniería en sistemas</p>
    <p>Número: 54989277</p>
    <p>Vivienda: zona 5 de villanueva</p>
    <p>Idioma(nativo): Español</p>
    <p>Hobies: dibujo, instrumentos musicales,vídeojuegos</p>
</mat-list>

</mat-card-content>
</mat-card>

     
     
    
    
